# Dependencias base
django==3.0.6
djangorestframework==3.11
Pillow==8.1.1
gunicorn==20.0.4
environ==1.0
dj-database-url==0.5.0
whitenoise==5.1.0

# Linter para python/django
prospector==1.1.7
astroid==2.2.5
pylint==2.3.1
